:root {
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Light appearance color pallet */
        --main-background-color: gainsboro;
        --header-font-color: black;
        --main-body-font-color: maroon;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark appearance color pallet */
        --main-background-color: black;
        --header-font-color: gainsboro;
        --main-body-font-color: coral;
    }
}


body {
    background-color: var(--main-background-color);
}

.header-wrapper {
    position: relative;
    padding-bottom: 15px;
    border: 3px solid var(--header-font-color);
}

.header {
    position: relative;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 30px;
}

.main-title {
    color: var(--header-font-color);
}

.menu {
    position: relative;
}

.menu-link-bar-wrapper {
    position: relative;
    margin: auto;
}

.menu-link-item-wrapper {
    display: inline-block; 
    vertical-align: top;
    width: 8%;
    margin-left: 8%;
    margin-right: 8%;
}

.menu-link {
    position: relative;
    font-size: larger;
    color: var(--header-font-color);
}

.menu-link-item-underline{
    position:relative;
    height: 3px;
    width: 0px;
    background-color: var(--header-font-color);
    transition: all 150ms ease-in
}

a:link {
    font-family: Arial;
    text-decoration: none;
}

.menu-link-item-wrapper:hover > .menu-link {
    font-size: x-large;
}

.menu-link-item-wrapper:hover > .menu-link-item-underline {
    width: 100%;
}

p {
    color: var(--main-body-font-color);
}