:root {
    --main-background-color: rgb(245, 245, 220);
    --header-color: rgb(55, 55, 55);
    --header-height: 100px;
    
    background-color: white;
    text-align: center;
}

.header-wrapper {
    position: relative;
    border: 1px solid #000;
    padding-bottom: 15px;
}

.header {
    position: relative;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 30px;
}

.menu {
    position: relative;
}

.menu-link-bar-wrapper {
    position: relative;
    margin: auto;
}

.menu-link-item-wrapper {
    display: inline-block; 
    vertical-align: top;
    width: 60px;
    margin-left: 6%;
    margin-right: 6%;
}

.menu-link {
    color: springgreen;
}

.menu-link-item-underline{
    height: 3px;
    width: 60px;
    background-color: springgreen;
}


a:link {
    font-family: Arial;
    text-decoration: none;
}




