:root {
    --main-background-color: rgb(245, 245, 220);
    --header-color: rgb(55, 55, 55);
    --header-height: 100px;
    
    background-color: white;
    text-align: center;
}

.header {
    position: relative;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 30px;
}

.menu {
    position: relative;
}

.wrapper {
    margin: auto;
}

#menu-link {
    padding-left: 75px;
    padding-right: 75px;
}
a:link {
    font-family: Arial;
    text-decoration: none;
}



